In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Pandas Dataframes

2-dimensional data structure, similiar to spreadsheets, SQL-Tables, R-DF

## Initialisation 


### From Files by using utility functions

* pd.read_csv()
* pd.read_json()
* ...

> Default: Adds a index column, to use first column instead set index_col=0

In [96]:
df = pd.read_csv("./14111-0002.csv",  sep=";", header=1, index_col=0)
df

        erststimmen erstimmen%   zweitstimmen zweitstimmen%
partei
SPD        12234690        26,4      11955434          25,7
CDU        10451524        22,5       8775471          18,9
GRUENE      6469081        14,0       6852206          14,8
FDP         4042951         8,7       5319952          11,5
AFD         4695611        10,1       4803902          10,3
CSU         2788048         6,0       2402827           5,2
LINKE       2307536         5,0       2270906           4,9

In [95]:
print(f'Query <Erststimmen CDU> = {df["erststimmen"]["CDU"]}')

Query <Erststimmen CDU> = 10451524

### From python Dictionaries

* Keys   -> Headers
* Values -> Array/Tuples of values

In [87]:
alt = pd.DataFrame(
        {
                "name" : ["anna", "tom", "lisa"],
                "age" : [17, 32, 63],
                "occupation" : ("farmer", "programmer", "sales")    
        }
)
alt

   name  age  occupation
0  anna   17      farmer
1   tom   32  programmer
2  lisa   63       sales

## Series

* A column inside the dataframe is called a __series__
* 1d numpy array

> Selection: df["header"]

*similiar to a python dictionary*

In [52]:
df["partei"]

0       SPD
1       CDU
2    GRUENE
3       FDP
4       AFD
5       CSU
6     LINKE
Name: partei, dtype: object

### Create and add a series to an existing df

In [100]:
grades = pd.Series([1.4, 3.2, 6.0],  name="grades")     # from python iterable

hobbys = pd.Series(
        np.array(["it", "swimming", "music"]),                  # from numpy array
        name = "hobbys"
)
grades

0    1.4
1    3.2
2    6.0
Name: grades, dtype: float64

## Add a series to dataframe

df = odf.assign(header_name = <series>, ...)
* returns a new df object!

In [102]:
alt = alt.assign(final_grade = grades, main_hobby = hobbys)
alt

   name  age  occupation  final_grade main_hobby
0  anna   17      farmer          1.4         it
1   tom   32  programmer          3.2   swimming
2  lisa   63       sales          6.0      music

In [86]:
grades.name

'grades'