In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Pandas Dataframes

## Read Data


### Files by using utility functions
* pd.read_csv()
* pd.read_

In [44]:
df = pd.read_csv("./14111-0002.csv",  sep=";", header=1)
df

   Partei  erststimmen erstimmen%   zweitstimmen zweitstimmen%
0     SPD     12234690        26,4      11955434          25,7
1     CDU     10451524        22,5       8775471          18,9
2  GRUENE      6469081        14,0       6852206          14,8
3     FDP      4042951         8,7       5319952          11,5
4     AFD      4695611        10,1       4803902          10,3
5     CSU      2788048         6,0       2402827           5,2
6   LINKE      2307536         5,0       2270906           4,9

* from python objects

In [45]:
alt = pd.DataFrame(
        {
                "name" : ["anna", "tom", "lisa"],
                "age" : [17, 32, 63],
                "occupation" : ("farmer", "programmer", "sales")    
        }
)
alt

   name  age  occupation
0  anna   17      farmer
1   tom   32  programmer
2  lisa   63       sales